<h1>Available Courses</h1>

<ul>
  {% for course in courses %}
  <li>
    <h2>
      <a href="{% url 'course_detail' course.id %}"> {{ course.title }} </a>
    </h2>

    {% if user.is_authenticated%} {% if user.userprofile.role == 'teacher' %}
    <button>
      <a href="{% url 'module_detail' course.id %}">See Modules</a>
    </button>
    {% else %} {% if course.id in enrolled_courses %}
    <p>Already Enrolled</p>
    {% else %}
    <form action="{% url 'enroll_course' course.id %}" method="POST">
      {% csrf_token %}
      <button type="submit">Enroll Now</button>
    </form>
    {% endif %} {% endif %} {% endif %}
  </li>
  <br />
  {% empty %}
  <li>No courses available</li>
  {% endfor %}
</ul>
