<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ course.title}}</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        min-height: 100vh;
      }
      .side-panel {
        background-color: #f8f9fa;
        padding: 20px;
        min-height: 100vh;
      }
      .main-content {
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- Side Panel -->
        <div class="col-md-3 col-lg-2 side-panel" style="width: 350px">
          <h2>{{course.title}}</h2>
          <h5>Modules</h5>
          <ul class="nav flex-column">
            {% for module in modules %}
            <div class="dropdown mb-2">
              <button
                class="btn btn-secondary dropdown-toggle w-100 text-start"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ module.title }}
              </button>

              <ul class="dropdown-menu w-100">
                {% for lesson in module.lessons.all %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{% url 'lesson_detail' lesson.id %}"
                    >{{lesson.title}}</a
                  >
                </li>
                {% empty %}

                <li>
                  <span class="dropdown-item text-muted">No lessons</span>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endfor %}
          </ul>
        </div>

        <!-- Main Content -->
        <div class="col-md-9 col-lg-3 main-content">
          {% comment %} {% for lesson in lesson %} {% endcomment %}
          <h2>{{module.title}}</h2>
          {% comment %} {% endfor %} {% endcomment %}
        </div>
      </div>
    </div>

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
