absl-py==2.1.0
acres==0.2.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
alembic==1.13.2
altair==5.0.1
annotated-types==0.7.0
anyio==4.11.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.8.1
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.2
attrs==25.1.0
auth0-python==4.7.2
Authlib==1.6.5
babel==2.16.0
backcall==0.2.0
backoff==2.2.1
backports.tarfile==1.2.0
backrefs==5.9
bcrypt==4.2.0
beartype==0.22.5
beautifulsoup4==4.12.3
bidict==0.23.1
bleach==6.2.0
blinker==1.9.0
blis==0.7.10
boto3==1.35.20
botocore==1.35.20
branca==0.8.0
bs4==0.0.2
build==1.2.2
CacheControl==0.14.0
cachetools==6.2.2
catalogue==2.0.9
catboost==1.2
certifi==2024.12.14
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.1
chroma-hnswlib==0.7.3
chromadb==1.0.13
ci-info==0.3.0
clarifai==10.11.1
clarifai-grpc==11.5.5
clarifai-protocol==0.0.14
cleo==2.1.0
click==8.1.7
cloudpickle==3.1.1
cognitojwt==1.4.1
cohere==5.9.2
collection==0.1.6
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
comtypes==1.2.1
confection==0.1.1
configobj==5.0.9
configparser==7.1.0
contextlib2==21.6.0
contourpy==1.3.1
crashtest==0.4.1
crayons==0.4.0
crewai==0.134.0
crewai-tools==0.14.0
cryptography==43.0.1
cycler==0.12.1
cyclopts==4.2.4
cymem==2.0.7
dacite==1.6.0
dagshub==0.5.4
dagshub-annotation-converter==0.1.3
dash==2.18.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
data-processing==0.1.4
databricks-sdk==0.44.0
dataclasses-json==0.6.7
dateparser==1.2.0
debugpy==1.8.12
decorator==5.1.1
deepdiff==7.0.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.7
diskcache==5.6.3
distlib==0.3.8
distro==1.8.0
Django==5.2.4
django-autoslug==1.9.9
django-cors-headers==4.7.0
django-tinymce==4.1.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
dnspython==2.7.0
docker==7.1.0
docstring_parser==0.16
docutils==0.22.3
docx2txt==0.8
dulwich==0.21.7
ecdsa==0.18.0
email_validator==2.2.0
embedchain==0.1.113
entrypoints==0.4
et-xmlfile==1.1.0
etelemetry==0.3.1
exceptiongroup==1.3.0
executing==2.2.0
faiss-cpu==1.7.4
Faker==25.1.0
fastapi==0.114.2
fastavro==1.9.7
fastjsonschema==2.21.1
fastmcp==2.13.1
ffmpy==0.3.0
filelock==3.18.0
fitz==0.0.1.dev2
Flask==3.0.3
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
flatbuffers==25.1.24
folium==0.17.0
fonttools==4.55.6
fqdn==1.5.1
frozendict==2.3.8
frozenlist==1.5.0
fsspec==2024.6.1
gast==0.4.0
gensim==4.3.3
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
ghp-import==2.1.0
gitdb==4.0.10
GitPython==3.1.31
google-ai-generativelanguage==0.6.6
google-api-core==2.15.0
google-api-python-client==2.145.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-cloud-aiplatform==1.66.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.5
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-generativeai==0.7.2
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gptcache==0.1.44
gql==3.5.0
gradio==3.35.2
gradio_client==0.2.7
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
graphviz==0.20.1
greenlet==3.1.1
grpc-google-iam-v1==0.13.1
grpcio==1.70.0
grpcio-status==1.60.0
grpcio-tools==1.62.3
gTTS==2.3.2
h11==0.14.0
h2==4.1.0
h5py==3.12.1
hpack==4.0.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.1
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.33.1
humanfriendly==10.0
hyperframe==6.0.1
identify==2.6.12
idna==3.10
imbalanced-learn==0.10.1
importlib_metadata==8.4.0
importlib_resources==6.4.5
iniconfig==2.0.0
inquirerpy==0.3.4
installer==0.7.0
instructor==1.9.0
intel-openmp==2021.4.0
ipykernel==6.19.4
ipython==8.7.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jax==0.4.30
jaxlib==0.4.30
jedi==0.19.2
Jinja2==3.1.5
jiter==0.10.0
jmespath==1.0.1
joblib==1.4.2
json5==0.10.0
json_repair==0.25.3
jsonpatch==1.33
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.24.0
jsonschema-path==0.3.4
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-lsp==2.2.5
jupyter_client==7.4.8
jupyter_core==5.7.2
jupyter_server==2.10.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_wakatime==0.2.0
jupyterlab_widgets==3.0.13
keras==2.12.0
keyring==25.6.0
kiwisolver==1.4.8
kubernetes==30.1.0
lancedb==0.5.7
langchain==0.1.20
langchain-cohere==0.1.5
langchain-community==0.0.38
langchain-core==0.1.53
langchain-experimental==0.3.4
langchain-google-genai==1.0.10
langchain-huggingface==0.0.3
langchain-openai==0.1.7
langchain-text-splitters==0.0.2
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.1.147
libclang==18.1.1
lightgbm==3.3.5
linkify-it-py==2.0.2
litellm==1.72.0
load-dotenv==0.1.0
looseversion==1.3.0
lxml==5.3.1
Mako==1.3.5
Markdown==3.7
markdown-it-py==2.2.0
MarkupSafe==3.0.2
marshmallow==3.20.1
matplotlib==3.7.0
matplotlib-inline==0.1.7
mcp==1.21.0
mdit-py-plugins==0.3.3
mdurl==0.1.2
mem0ai==0.1.111
mergedeep==1.3.4
mistune==2.0.5
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.6.14
mkdocs-material-extensions==1.3.1
mkl==2021.4.0
ml_dtypes==0.5.1
mlflow==2.20.2
mlflow-skinny==2.20.2
mlxtend==0.23.4
mmh3==4.1.0
monotonic==1.6
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multion==0.3.11
multitasking==0.0.11
murmurhash==1.0.9
mypy-extensions==1.0.0
mysql-connector-python==9.0.0
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.7
nbformat==5.7.1
nepse-api==1.1.12
nest-asyncio==1.6.0
networkx==3.4.2
nibabel==5.3.2
nipype==1.9.2
nltk==3.8.1
nodeenv==1.9.1
notebook==7.3.2
notebook_shim==0.2.2
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.22.0
openai==1.92.2
openapi-pydantic==0.5.1
opencv-python==4.8.1.78
openpyxl==3.1.5
openrouteservice==2.3.3
opentelemetry-api==1.34.1
opentelemetry-exporter-otlp-proto-common==1.34.1
opentelemetry-exporter-otlp-proto-grpc==1.34.1
opentelemetry-exporter-otlp-proto-http==1.34.1
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
opentelemetry-util-http==0.48b0
opt_einsum==3.4.0
ordered-set==4.1.0
orjson==3.10.15
osmnx==2.0.2
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
paginate==0.5.7
pandas==1.5.3
pandas-datareader==0.10.0
pandocfilters==1.5.1
parameterized==0.9.0
parso==0.8.4
pathable==0.4.4
pathlib==1.0.1
pathspec==0.12.1
pathvalidate==3.3.1
pathy==0.10.2
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.5
peewee==3.17.0
pexpect==4.9.0
pfzy==0.3.4
phonenumbers==8.13.3
pickleshare==0.7.5
pillow==10.4.0
pkginfo==1.11.1
platformdirs==4.3.6
playsound==1.3.0
plotly==5.15.0
pluggy==1.5.0
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
polars==0.19.11
portalocker==2.10.1
posthog==3.6.6
pre_commit==4.2.0
preshed==3.0.8
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.2.1
proto-plus==1.23.0
protobuf==5.29.5
prov==2.0.1
psutil==6.1.1
ptyprocess==0.7.0
pulsar-client==3.5.0
pure_eval==0.2.3
puremagic==1.28
py==1.11.0
py-key-value-aio==0.2.8
py-key-value-shared==0.2.8
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
pybase64==1.4.1
pycparser==2.22
pydantic==2.12.4
pydantic-settings==2.6.1
pydantic_core==2.41.5
pydeck==0.8.1b0
pydot==1.4.2
pydub==0.25.1
Pygments==2.19.1
pyhumps==3.8.0
PyJWT==2.10.1
pylance==0.9.18
pymdown-extensions==10.16
pymongo==4.11.3
Pympler==1.0.1
PyMuPDF==1.25.2
pyogrio==0.10.0
pyOpenSSL==24.2.1
pyparsing==3.2.1
pypdf==4.3.1
PyPDF2==3.0.1
pypdfium2==4.30.1
pyperclip==1.11.0
PyPika==0.48.9
pypiwin32==223
pyproj==3.7.1
pyproject_hooks==1.1.0
pyreadline3==3.5.2
pyright==1.1.381
pyrsistent==0.19.2
pysbd==0.3.4
PySocks==1.7.1
pyspellchecker==0.8.1
pytesseract==0.3.10
pytest==8.3.2
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.2.1
python-engineio==4.9.1
python-jose==3.3.0
python-json-logger==3.2.1
python-multipart==0.0.20
python-rapidjson==1.20
python-socketio==5.11.3
pyttsx3==2.90
pytube==15.0.0
pytz==2024.2
pytz-deprecation-shim==0.1.0.post0
pyvis==0.3.2
pywin32==311
pywin32-ctypes==0.2.3
pywinpty==2.0.14
pyxnat==1.6.2
PyYAML==6.0.2
pyyaml_env_tag==1.1
pyzmq==26.2.0
qdrant-client==1.11.2
qrcode==7.3.1
ratelimiter==1.2.0.post0
rdflib==6.3.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retry==0.9.2
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==14.2.0
rich-rst==1.3.2
rpds-py==0.22.3
rsa==4.9
s3transfer==0.10.2
schedule==1.2.1
schema==0.7.5
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.12.2
selenium==4.27.0
semantic-version==2.10.0
semver==3.0.2
Send2Trash==1.8.3
sentence-transformers==3.3.1
shapely==2.0.6
shellingham==1.5.4
simple-websocket==1.0.0
simplejson==3.19.3
six==1.17.0
sklearn-relief==1.0.0b2
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SpeechRecognition==3.10.1
SQLAlchemy==2.0.37
sqlparse==0.5.0
srsly==2.4.7
sse-starlette==3.0.3
stack-data==0.6.3
starlette==0.38.5
statsmodels==0.14.4
streamlit==1.38.0
streamlit-quill==0.0.3
streamlit_folium==0.24.0
sympy==1.13.1
ta==0.11.0
tabulate==0.9.0
tavily-python==0.3.0
tbb==2021.12.0
tenacity==8.5.0
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-hub==0.14.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
terminado==0.18.1
textblob==0.17.1
thinc==8.1.12
threadpoolctl==3.1.0
tiktoken==0.7.0
tinycss2==1.4.0
tokenizers==0.20.3
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.13.2
toolz==0.12.0
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
traits==6.4.3
treelib==1.7.0
trio==0.26.2
trio-websocket==0.11.1
tritonclient==2.59.0
trove-classifiers==2024.9.12
typer==0.9.0
types-requests==2.31.0.6
types-urllib3==1.26.25.14
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==4.3
uc-micro-py==1.0.2
unstructured==0.15.5
unstructured-client==0.25.5
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.3.0
urllib3-secure-extra==0.1.0
uv==0.7.16
uvicorn==0.38.0
validators==0.20.0
virtualenv==20.26.4
waitress==3.0.2
wasabi==1.1.2
watchdog==3.0.0
watchfiles==0.24.0
wcwidth==0.2.13
webcolors==24.11.1
webdriver-manager==3.5.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wrapt==1.14.1
wsproto==1.2.0
xgboost==1.7.5
xyzservices==2024.9.0
yarl==1.18.3
yfinance==0.2.31
youtube-transcript-api==0.6.2
zipp==3.15.0
zstandard==0.23.0
