django
djangorestframework
gunicorn
psycopg2-binary
dj-database-url
whitenoise
djangorestframework-simplejwt
drf-yasg
channels
channels-redis
daphne
django-widget-tweaks  ## added for form styling while signup