<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <h2>{{course.title}}</h2>
<p>{{course.description}}</p>

<hr>

{% for module in modules %}
<h4>{{module.title}}</h4>

<ul>
    {% for lesson in module.lessons.all %}
    {% if lesson.is_published %}
    <li>{{lesson.title}}</li>
    {% endif %}
    {% empty %}
    <li>No lessons</li>
    {% endfor %}
</ul>
{% endfor %}

<div class="alert alert-info mt-4">
    This is a read only preview. You cannot edit this course.
</div>

<a href="{% url 'course_list' %}" class="btn btn-secondary">Back to Courses</a>
</body>
</html>