<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Lesson - Teacher</title>
  </head>
  <body>
    <h2>Create Lesson</h2>
    <p>Course: <b>{{course.title}}</b> Module: <b>{{module.title}}</b></p>

    <form method="POST">
      {% csrf_token %} {{form.as_p}}
      <button type="submit">Create Lesson</button>
    </form>
    <a href="{% url 'teacher_course_detail' course.id %}">Back</a>
  </body>
</html>
