{% extends 'base.html'%} {% block content %}

<h2>Teacher Dashboard</h2>

<button><a href="{% url 'create_course' %}">➕ Create Course</a></button>

<hr />
<br />
<br />

<h2 style="margin-bottom: -20px; margin-top: -30px;">Approved Course</h2>
<br />
{% for course in approved_courses %}
<h2>{{course.title}}</h2>

<p>Students Enrolled: {{course.total_students}}</p>

<button>
  <a href="{% url 'create_module' course.id %}">➕ Create Module</a>
</button>
<button>
  <a href="{% url 'create_lesson' course.id %}">➕ Create Lesson</a>
</button>
<button>
  <a href="{% url 'edit_course' course.id %}">Edit Course</a>
</button>
{% empty %}
<p>No approved courses yet.</p>
{% endfor %} 

<hr>
<h2>Pending Approval</h2>
{% for courses in pending_courses %}
<h4>{{courses.title}}</h4>
<span>Waiting for admin approval</span>
{% empty %}
<p>No Pending requests.</p>
{% endfor %}
{% endblock %}
