<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Complete - LMS</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
</head>
<body>
   <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="text-center p-4 bg-white rounded shadow" style="max-width: 400px;">
    <h2 class="mb-4">Password Reset Complete</h2>
    <p>Your password has been successfully reset.</p>
    <a href="{% url 'login_user' %}" class="btn btn-primary mt-3">Login Now</a>
  </div>
</div>

</body>
</html>